body {
    margin: 0;
    min-height: 100vh;
}

ul {
    list-style: none;
}

h1 {
    margin: 0;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
}
h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
}
h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

p {
    margin: 0;
}

.container {
    max-width: 1440px;
    padding: 0 100px;
}

.page-wrapper {
    position: relative;
}

.blue-underline::after {
    content: '';
    display: block;
    margin-top: 10px;
    width: 280px;
    height: 10px;
    background: #2CB0C9;
}

.blue-underline--thin::after {
    content: '';
    display: block;
    margin-top: 10px;
    width: 280px;
    height: 5px;
    background: #2CB0C9;
}

.btn {
    border: none;
    padding: 6px 24px;
    margin-right: 20px;

    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
    outline: none;
}

.btn-orange {
    background: #F47427;
    border-radius: 30px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
    color: #FFFFFF;
}

.orange-circle-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F47427;
    border-radius: 50%;
    color: #fff;
}

.orange-circle-with-icon--small {
    width: 25px;
    height: 25px;
}

.orange-circle-with-icon--medium {
    width: 50px;
    height: 50px;
    font-size: 32px;
}

.orange-circle-with-icon--big {
    width: 106px;
    height: 106px;
    font-size: 64px;
}
