@import './mixins.scss';
@import './layout.scss';

* {
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

ul {
    list-style: none;
}

h1 {
    margin: 0;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
}
h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
}
h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

p {
    margin: 0;
}

a {
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

input,
select,
textarea {
    padding: 10px 20px;
    background: rgba(162, 207, 209, 0.2);
    border: none;
    margin-bottom: 30px;
    resize: vertical;
}



.page-wrapper {
    position: relative;
}

.blue-top-border {
    border-top: 4px solid #A2CFD1;
}

.blue-bottom-border {
    border-bottom: 4px solid #A2CFD1;
}

.blue-underline,
.blue-underline--thin {
    display: inline-block;
}

.blue-underline::after {
    content: '';
    display: block;
    margin-top: 10px;
    width: 280px;
    height: 10px;
    background: #2CB0C9;
}

.blue-underline--thin::after {
    content: '';
    display: block;
    margin-top: 10px;
    width: 280px;
    height: 5px;
    background: #2CB0C9;
}
.blue-underline--thin--middle {
    position: relative;
}
.blue-underline--thin--middle::after {
    content: '';
    display: block;
    margin-top: 10px;
    width: 280px;
    height: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #A2CFD1;
}

.btn {
    max-width: 500px;
    border: none;
    padding: 6px 24px;
    margin-right: 20px;

    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
    outline: none;
}

.btn-orange {
    background: #F47427;
    border-radius: 30px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
    color: #FFFFFF;
    transition: all .2s ease-in;

    &:hover {
      background: darken(#F47427, 20%);
    }

    @include tablet {
        padding: 6px 18px;
        margin-right: 5px;
        font-size: 16px;
        line-height: 22px;
    }

    @include tablet-small {
        padding: 4px 16px;
        margin-right: 10px;
        font-size: 18px;
        line-height: 22px;
    }
}

.orange-circle-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F47427;
    border-radius: 50%;
    color: #fff;

    &--small {
        width: 25px;
        height: 25px;
    }

    &--medium {
        width: 50px;
        height: 50px;
        font-size: 32px;
    }

    &--big {
        width: 106px;
        height: 106px;
        font-size: 64px;
    }
}

.registration-form {
    border: 1px solid #2E91A6;
    padding: 30px;

    .form-control {
        display: flex;
        flex-direction: column;

        label {
            font-weight: 500;
            font-size: 22px;
            line-height: 27px;
            color: #707070;
            margin-bottom: 20px;

            span {
                color: red;
            }
        }

        textarea {
            resize: vertical;
        }
    }

    #submit-wrapper {
        margin-top: 50px;
        text-align: right;
    }

}
