@import './mixins.scss';

section {
  padding: 100px 0;
  z-index: 1;

  @include phone {
    padding: 30px 0;
  }
}

.container {
  width: 1440px;
  max-width: calc(100% - 80px);
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.p-0 {
  padding: 0;
}

.p-10 {
  padding: 10px 0;
}

.p-20 {
  padding: 20px 0;
}

.p-40 {
  padding: 40px 0;

  @include phone {
    padding: 4px 0;
  }
}

.p-80 {
  padding: 80px 0;
}
